{% extends 'home.html' %} {% block title %}Submit Post{% endblock %} {% block
content %}
<h1>Edit Post for {{post.users.full_name()}}</h1>
<div>
	<form id="edit-post" action="/posts/{{post.id}}/edit" method="POST">
		<div class="input">
			<label for="title">Title:</label>
			<br /><input name="title" type="text" value="{{post.title}}" />
		</div>
		<br />
		<div class="input">
			<label for="content">Content:</label>
			<br /><textarea name="content" rows="10" cols="40">
{{post.content}}</textarea
			>
		</div>
		<br />
		<p>Select Tags:</p>
		{% for tag in tags %}
		<input
			style="width: fit-content"
			name="tag"
			type="checkbox"
			value="{{tag.id}}"
		/><label for="Tag">{{tag.name}}</label>
		<br />
		{% endfor %}
		<br />

		<button class="btn btn-primary">Submit Post</button>
	</form>
</div>
<br />
<a href="/users/{{post.users.id}}">Go back</a>

{% endblock %}
