{% extends 'home.html' %} {% block title %}Submit Post{% endblock %} {% block
content %}
<h1>Add Post for {{user.full_name()}}</h1>
<div class="container">
	<form id="new-post" action="/users/{{user.id}}/posts/new" method="POST">
		<div class="input">
			<label for="title">Title:</label>
			<br /><input name="title" type="text" />
		</div>
		<br />
		<div class="input">
			<label for="content">Content:</label>
			<br /><textarea name="content" rows="10" cols="40"></textarea>
		</div>
		<br />
		<p>Select Tags:</p>
		{% for tag in tags %}
		<input
			style="width: fit-content"
			name="tag"
			type="checkbox"
			value="{{tag.id}}"
		/><label for="Tag">{{tag.name}}</label>
		<br />
		{% endfor %}
		<br />

		<!-- % for tag in post.tag %
		<a class="tag" href="/tags/tag.id"><i>tag.name</i></a> % endfor % -->
		<button class="post">Submit Post</button>
	</form>
</div>
<br />
<a href="/users/{{user.id}}">Go back</a>

{% endblock %}
