{% extends 'home.html' %} {% block title %}User Details{% endblock %} {% block
content %}
<div class="profile-container">
	<div class="icon-container"><img src="{{user.img_url}}" alt="Icon" /></div>
	<div class="content">
		<div class="userinfo space">
			<h1>{{user.full_name()}}</h1>
			<a href="/users/{{user.id}}/edit"><button type="button">Edit</button></a>
			<form class="delete" action="/users/{{user.id}}/delete" method="POST">
				<button type="submit" class="delete">Delete</button>
			</form>
		</div>
		<!-- THIS IS WHAT THE BLOG POSTS FORMAT WILL LOOK LIKE -->
		<div class="posts-list space">
			<h2>Posts</h2>
			<ul>
				{% for post in posts %}
				<li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<a href="/users/{{user.id}}/posts/new"
			><button class="post" type="button">Add Post</button></a
		>
	</div>
</div>
<br />
<a href="/users">Go back</a>

{% endblock %}
