{% extends 'home.html' %} {% block title %}User Details{% endblock %} {% block
content %}
<div class="profile-container">
	<div class="icon-container"><img src="{{user.img_url}}" alt="Icon" /></div>
	<div class="content">
		<div class="userinfo space">
			<h1>{{user.full_name()}}</h1>
			<a href="/users/{{user.id}}/edit"
				><button
					type="button"
					class="btn btn-secondary"
					style="display: inline-block"
				>
					Edit
				</button></a
			>
			<form
				class="delete"
				action="/users/{{user.id}}/delete"
				method="POST"
				style="display: inline-block"
			>
				<button type="submit" class="btn btn-danger">Delete</button>
			</form>
		</div>
		<!-- THIS IS WHAT THE BLOG POSTS FORMAT WILL LOOK LIKE -->
		<div class="posts-list space">
			<h2>Posts</h2>
			<ul>
				{% for post in posts %}
				<li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<a href="/users/{{user.id}}/posts/new"
			><button class="btn btn-primary" type="button">Add Post</button></a
		>
	</div>
</div>

{% endblock %}
